/********************************************************************************************/
/*   bold-font "myriad-pro-semi-condensed-1","myriad-pro-semi-condensed-2",Arial,sans-serif
 /*   normal-font font-family: myriad-pro-1, myriad-pro-2, Arial, sans-serif;
 /********************************************************************************************/

/********************************************************************************************/
/**    						FONTS															*/
/********************************************************************************************/
@font-face {
    font-family: 'MetrophobicRegular';
    src: url('../fonts/Metrophobic-webfont.eot');
    src: url('../fonts/Metrophobic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Metrophobic-webfont.woff') format('woff'), url('../fonts/Metrophobic-webfont.ttf') format('truetype'), url('../fonts/Metrophobic-webfont.svg#MetrophobicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('../fonts/ColabThi-webfont.eot');
    src: url('../fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ColabThi-webfont.woff') format('woff'), url('../fonts/ColabThi-webfont.ttf') format('truetype'), url('../fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fill {
    min-height: 100%;
    position: relative;
}

html, body {
    height: 100%;
}

body {
    background-image: url("../img/bg2.png");
    background-color: #F5F5EC;
    background-repeat: repeat;
    font-family: MetrophobicRegular, Arial, Helvetica, sans-serif;
}

header {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;

}
h1, h2, h3, h4, h5, h6 {

    font-family: ColaborateThinRegular, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 35px;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#logo {
    margin: 0 auto;
    float: none;
}

.centerContainer {
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
    margin-right: 30px;
}

.post {
    background-color: #FAFAFA;
    border: 2px solid rgba(207, 207, 198, 0.56);
    padding: 15px;
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    margin-bottom: 50px;
}

.postDate {
    height: 65px;
    width: 70px;
    background-color: rgba(75, 143, 173, 0.6);
    border-right: 1px solid #A0A097;
    border-bottom: 1px solid #A0A097;
    float: left;
    position: relative;
    margin-left: -25px;
    margin-top: -35px;
    font-size: 15px;
    text-align: center;
    -webkit-box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.5);
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.5);
}

.postDate .day {
    font-size: 40px;
    line-height: 45px;
}

.postDate .month {
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 7px;
}

.postDate .year {
    font-size: 16px;
    position: absolute;
    right: -8px;
    top: 12px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

.postDate strong {
    font-size: 24px;
}

.post header {
    margin: 0px;
    border: 1px transparent solid;
}

.post header .comments {
    margin-left: 2px;
    margin-right: 2px;
}

.postTitle {
    text-align: left;
    margin-left: 40px;
    padding-bottom: 15px;
}

.postTitle h1 {
    margin-left: 30px;
    border-bottom: 1px solid #D6CDCD;
    font-weight:lighter;
    font-size:40px;
}

.post header a {
    color: #659BBF;
    font-weight: bold;
}
.post header a:hover {
    color: #275E75;
    font-weight: bold;
    text-decoration: none;
}

.post header small {
    color: #C0C0B5;
    float: right;
}

.postContent {
    margin-top: 10px;
    font-size: 16px;
}

.postContent .fullText{
    display:none;
}

.postMore{
    display:block;
}

.postMore span{
    float:right;
    width: 120px;
    background-color: rgba(75, 143, 173, 0.6);
    text-align: center;
    font-size: 20px;
    padding:10px;
    border-right: 1px solid #A0A097;
    border-bottom: 1px solid #A0A097;
    -webkit-box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.5);
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.5);
}

.postMore span:hover {
    background-color: rgba(75, 143, 173, 1);
    cursor: pointer;
}

#menuContainer{
    margin-top: 15px;
    width: 250px;
    background-color: #FAFAFA;
    border: 2px solid rgba(207, 207, 198, 0.56);
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    margin-bottom: 200px;
}

.menuOption{
    display:block;
    padding: 10px;
    margin-bottom: 20px;
}

#menuContainer h1{
    border-bottom: 1px solid #D6CDCD;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

/* COMMENTS */
#postComments h1{
    border-bottom: 1px solid #D6CDCD;
    font-weight:lighter;
    font-size:40px;
}

#postComments .comment{
    background-color: #FAFAFA;
    border: 2px solid rgba(207, 207, 198, 0.56);
    padding: 15px;
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    margin-bottom: 20px;
}

#postComments .commentDate{
    color: #C0C0B5;
    float: right;
    border-bottom: 1px solid #D6CDCD;
}
/********************************************************************************************/
/*   bold-font "myriad-pro-semi-condensed-1","myriad-pro-semi-condensed-2",Arial,sans-serif
 /*   normal-font font-family: myriad-pro-1, myriad-pro-2, Arial, sans-serif;
 /********************************************************************************************/

/********************************************************************************************/
/**    						FONTS															*/
/********************************************************************************************/
@font-face {
    font-family: 'MetrophobicRegular';
    src: url('../fonts/Metrophobic-webfont.eot');
    src: url('../fonts/Metrophobic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Metrophobic-webfont.woff') format('woff'), url('../fonts/Metrophobic-webfont.ttf') format('truetype'), url('../fonts/Metrophobic-webfont.svg#MetrophobicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('../fonts/ColabThi-webfont.eot');
    src: url('../fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ColabThi-webfont.woff') format('woff'), url('../fonts/ColabThi-webfont.ttf') format('truetype'), url('../fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fill {
    min-height: 100%;
    position: relative;
}

html, body {
    height: 100%;
}

body {
    background-image: url("../img/bg2.png");
    background-color: #F5F5EC;
    background-repeat: repeat;
    font-family: MetrophobicRegular, Arial, Helvetica, sans-serif;
}

header {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;

}
h1, h2, h3, h4, h5, h6 {

    font-family: ColaborateThinRegular, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 35px;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#logo {
    margin: 0 auto;
    float: none;
}

.centerContainer {
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
    margin-right: 30px;
}

.post {
    background-color: #FAFAFA;
    border: 2px solid rgba(207, 207, 198, 0.56);
    padding: 15px;
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    margin-bottom: 50px;
}

.postDate {
    height: 65px;
    width: 70px;
    background-color: rgba(75, 143, 173, 0.6);
    border-right: 1px solid #A0A097;
    border-bottom: 1px solid #A0A097;
    float: left;
    position: relative;
    margin-left: -25px;
    margin-top: -35px;
    font-size: 15px;
    text-align: center;
    -webkit-box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.5);
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.5);
}

.postDate .day {
    font-size: 40px;
    line-height: 45px;
}

.postDate .month {
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 7px;
}

.postDate .year {
    font-size: 16px;
    position: absolute;
    right: -8px;
    top: 12px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

.postDate strong {
    font-size: 24px;
}

.post header {
    margin: 0px;
    border: 1px transparent solid;
}

.post header .comments {
    margin-left: 2px;
    margin-right: 2px;
}

.postTitle {
    text-align: left;
    margin-left: 40px;
    padding-bottom: 15px;
}

.postTitle h1 {
    margin-left: 30px;
    border-bottom: 1px solid #D6CDCD;
    font-weight:lighter;
    font-size:40px;
}

.post header a {
    color: #659BBF;
    font-weight: bold;
}
.post header a:hover {
    color: #275E75;
    font-weight: bold;
    text-decoration: none;
}

.post header small {
    color: #C0C0B5;
    float: right;
}

.postContent {
    margin-top: 10px;
    font-size: 16px;
}

.postContent .fullText{
    display:none;
}

.postMore{
    display:block;
}

.postMore span{
    float:right;
    width: 120px;
    background-color: rgba(75, 143, 173, 0.6);
    text-align: center;
    font-size: 20px;
    padding:10px;
    border-right: 1px solid #A0A097;
    border-bottom: 1px solid #A0A097;
    -webkit-box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.5);
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.5);
}

.postMore span:hover {
    background-color: rgba(75, 143, 173, 1);
    cursor: pointer;
}

#menuContainer{
    margin-top: 15px;
    width: 250px;
    background-color: #FAFAFA;
    border: 2px solid rgba(207, 207, 198, 0.56);
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    margin-bottom: 200px;
}

.menuOption{
    display:block;
    padding: 10px;
    margin-bottom: 20px;
}

#menuContainer h1{
    border-bottom: 1px solid #D6CDCD;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

/* COMMENTS */
#postComments h1{
    border-bottom: 1px solid #D6CDCD;
    font-weight:lighter;
    font-size:40px;
}

#postComments .comment{
    background-color: #FAFAFA;
    border: 2px solid rgba(207, 207, 198, 0.56);
    padding: 15px;
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    margin-bottom: 20px;
}

#postComments .commentDate{
    color: #C0C0B5;
    float: right;
    border-bottom: 1px solid #D6CDCD;
}
